[package]
name = "consensus"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { workspace = true, features = [
	"derive",
	"error-context",
	"help",
	"std",
	"string",
] }
seda-runtime-sdk = { workspace = true, features = ["full", "wasm"] }
serde_json = { workspace = true }
